# Virtual Environment
venv/
.venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# VS Code Settings
.vscode/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# Python Build Files
build/
dist/
*.egg-info/

# Logs
*.log

# Temporary Files
*.tmp
*.temp